<h1>Spaces for hire</h1>

<ul id="spaces">
  <% @spaces.each do |space| %>
    <li>
      Title: <%= space.title %><br>
      Description: <%= space.description %><br>
      Price per night: <%= space.price %><br>
      Available from: <%= space.availability_start %><br>
      Available to: <%= space.availability_end %><br>
      <form action="/requests" method="post">
        <input type="hidden" name="space_id" value="<%= space.id %>">
        <label for="date" > Date:
          <input type="date" name="date">
        </label>
        <input type="submit" value="Hire">
      </form>
    </li>
  <% end %>
</ul>
