<html>

<h1>Spaces for hire</h1>

<% if current_user %>
  <h2>Welcome <%= @current_user.username %></h2>
<% end %>

<ul id='spaces'>
  <% @spaces.each do |space| %>
    <li>
      <label for="title">Title:
       <%= space.title %><br>
       </label>
       <label for="description">Description:
      <%= space.description %><br>
      </label>
      <label for="price">Price per night:
        <%= space.price %><br>
     </label>
      <form action="/spaces/hire" method="post">
        <input type="hidden" name="space_id" value="<%= space.id %>">
        <label for="date" > Date:
          <input type="date" name="date">
        </label>
        <input type="submit" value="Hire">
      </form>
    </li>
  <% end %>
</ul>

</html>
